.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.headerpicture {
  background-image: url("../assets/header.jpg");
  height: 150px;
  width: 100%;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px solid white;
}
